<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
  <add key="Lugar" value="San Isidro" />
 </appSettings>
	
	<connectionStrings>
  <add name="Cn" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=C:\Users\Nikita\Desktop\Projects\IDS345\3rdClassTheory\3rdClassTheory\MyDatabase.mdf;Integrated Security=True;User Instance=True" />
 </connectionStrings>
</configuration>